
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline:none;
    scroll-behavior: smooth;
    font-family:'Poppins',sans-serif;
}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;

}
html{
    font-size: 62.5%;
    overflow: hidden;
}
body{
    background:var(--bg-color);
    color:var(--text-color)

}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3.5rem;
    color:var(--main-color);
    font-weight: 600;
    cursor: default;
    position: relative;
    right: 60px;

}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover{

    color: var(--main-color)
}
#menu-icon{
    position: relative;
    left: 900px;
    font-size: 10.6rem;
    color:var(--main-color)
}
.Home{
    display: flex;
    justify-content: center;
    align-items: center;

}
img{
    position: relative;
    top: 200px0;
    right: 50PX;
    border-radius: 50px;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem  var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    position: relative;
    left: 260px;
   
}
.btn:hover{
    box-shadow: none;
}
.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--bg-color);
}
#menu-icon{
    font-size: 3.6rem;
    color:var(--main-color)
    
}
.about-img img{
    width: 35vw;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
    position: relative;
    right: 55px;
}
.about-content h2 {
    text-align: center;
    line-height: 1.2;

}
.about-content h3{
    font-size: 3.6rem;
    position: relative;
    left: 260px;
    
}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    position: relative;
    left: 260px;
}
span{
    color: var(--main-color);
}
.about-content p{
    font-size: 1.8rem;
}
.do{
    font-size: x-large;
    font-weight: bold;
}





